.nav-pills.outline-active {
	.nav-link {
		border-radius: 0px;
		border: none;
		border-bottom: 2px solid transparent;
		background: transparent;
		color: #aaa;

		&:hover {
			color: #555;
		}

		&.active {
			background: #fff !important;
			border-bottom: 2px solid var(--brand-primary) !important;
			color: var(--brand-primary) !important;
		}
	}
}
